/* src/components/LandingPage.css */

.landing-container {
  position: relative;
  width: 1536px;
  height: 1024px;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  background-color: black;
  animation: fadeIn 2s ease-in-out forwards;
}

.skeleton-image {
  width: 1536px;
  height: 1024px;
  object-fit: contain;
  opacity: 0;
  animation: fadeInImage 2s ease-in-out forwards;
}

@keyframes fadeInImage {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fadeIn {
  0% { background-color: black; }
  100% { background-color: black; }
}

canvas {
  user-select: none;
  position: absolute;
  top: 0;
  left: 0;
}
